<!DOCTYPE html>
<html>
<head>
  <title>Academy Air</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div id="container">
		<header>
			<h1><%= link_to "Academy Air", root_url %></h1>
			<nav>
				<ul>
					<li><%= link_to "Help", help_url %></li>
					<% if @current_user %>
						<li><%= link_to "View My Profile", user_url(@current_user.id) %></li>
						<li><%= link_to "Sign Out", log_out_url %></li>
					<% else %>
						<li><%= link_to "Sign In", log_in_url %></li>
					<% end %>
				</ul>
			</nav>
			<p>
				<%= "#{@current_user.first} #{@current_user.last}" if @current_user.present? %>
				&nbsp;
			</p>
		</header>

		<div id="content">
			<p class='notice'>
				<% if flash[:notice] %>
					<%= flash[:notice] %>
				<% end %>
			</p>
			<%= yield %>
		</div>
		
		<footer>
			&copy;2012 Academy Air, Inc.  Got comments or suggestions? Keep 'em to yourself!
		</footer>
	</div>
</body>
</html>
